.contact-content{
   
        display: block;
        position: relative;
        top: 0%;
        background: #ebe1e2;
        height: 100%;
        margin-top: 32px;
        border-radius: 16px;
        overflow: hidden;
    
    }
    .contact-content h2{
        margin: 0 36px;
    }
    .btn89 button{
        border: 2px solid rgb(110, 109, 109);
        margin: 0px 9px;
        border-radius: 3px;
    }
